# Copyright 2015 Johns Hopkins University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
Package: dc-package-tool
Version: 1.0.3
Section: utils
Maintainer: Data Conservancy <dc-ird@googlegroups.com>
Priority: optional
Architecture: amd64
Provides: dc-package-tool
Description: GUI for describing data and generating data packages from file system.
Installed-Size: 188600
