<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014 Johns Hopkins University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="packageAssemblerFactory" class="org.dataconservancy.packaging.tool.impl.generator.PackageAssemblerFactory">
    <property name="assemblers">
      <map key-type="java.lang.String" value-type="java.lang.Class">
        <entry key="BOREM" value="org.dataconservancy.packaging.tool.impl.generator.BagItPackageAssembler"/>
      </map>
    </property>
  </bean>

  <bean id="packageModelBuilderFactory" class="org.dataconservancy.packaging.tool.impl.generator.PackageModelBuilderFactory">
    <property name="builders">
      <map key-type="java.lang.String"
           value-type="org.dataconservancy.packaging.tool.api.generator.PackageModelBuilder">
        <entry key="BOREM" value-ref="packageModelBuilder_BOREM"/>
      </map>
    </property>
  </bean>

  <bean id="domainProfileStore" class="org.dataconservancy.packaging.tool.impl.DomainProfileStoreJenaImpl">
    <property name="primaryDomainProfiles">
      <list value-type="org.dataconservancy.packaging.tool.model.dprofile.DomainProfile">
      </list>
    </property>
    <property name="secondaryDomainProfiles">
      <list value-type="org.dataconservancy.packaging.tool.model.dprofile.DomainProfile"></list>
    </property>
  </bean>

  <bean id="ipmRdfTransformService" class="org.dataconservancy.packaging.tool.impl.IpmRdfTransformService">
    <property name="domainProfileStore" ref="domainProfileStore"/>
  </bean>

  <bean id="packageModelBuilder_BOREM" class="org.dataconservancy.packaging.tool.impl.generator.PackageModelBuilderImpl">
    <property name="nodeVisitors">
      <list>
        <bean class="org.dataconservancy.packaging.tool.impl.generator.OreReMBuilder" />
        <bean class="org.dataconservancy.packaging.tool.impl.generator.PackageStateBuilder">
          <property name="packageStateSerializer" ref="packageStateSerializer"/> 
          <property name="ipmRdfTransformationService" ref="ipmRdfTransformService" />
        </bean>
        <bean class="org.dataconservancy.packaging.tool.impl.generator.DomainObjectResourceBuilder" />
        <bean class="org.dataconservancy.packaging.tool.impl.generator.BrainDeadModelIncluder" />
      </list>
    </property>
    <property name="ipmRdfTransformService" ref="ipmRdfTransformService"/>
  </bean>

  <bean id="boremPackageGenerator" class="org.dataconservancy.packaging.tool.impl.BOREMPackageGenerator">
    <constructor-arg ref="packageAssemblerFactory"/>
    <constructor-arg ref="packageModelBuilderFactory"/>
  </bean>

  <bean id="testPackageGenerator" class="org.dataconservancy.packaging.tool.impl.TestPackageGenerator" />
  <bean id="packageGenerationService" class="org.dataconservancy.packaging.tool.impl.BasicPackageGenerationService">
    <property name="generatorMap">
      <map key-type="org.dataconservancy.packaging.tool.api.PackagingFormat">
        <entry key="BOREM" value-ref="boremPackageGenerator" />
        <entry key="TEST" value-ref="testPackageGenerator" />
      </map>
    </property>
  </bean>
  
  <bean id="uriGenerator"
    class="org.dataconservancy.packaging.tool.impl.SimpleURIGenerator" />

  <bean id="ipmService" class="org.dataconservancy.packaging.tool.impl.IPMServiceImpl">
    <constructor-arg ref="uriGenerator" />
  </bean>
  
  <bean id="openPackageService"
    class="org.dataconservancy.packaging.tool.impl.OpenPackageServiceImpl">
    <constructor-arg ref="packageStateSerializer" />
    <constructor-arg ref="ipmRdfTransformService" />
  </bean>

  <!-- (DE)SERIALIZATION -->
  <bean id="packageStateSerializer"
        class="org.dataconservancy.packaging.tool.impl.AnnotationDrivenPackageStateSerializer">
    <property name="marshallerMap" ref="marshallerMap"/>
    <property name="archive" value="true"/>
  </bean>

</beans>
