<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014 Johns Hopkins University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
~ You may obtain a copy of the License at
~
~     http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <context:annotation-config />

  <bean id="propertyPlaceholderConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreResourceNotFound" value="true" />
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="locations">
      <list>
        <value>classpath:config_default-test.properties</value>
      </list>
    </property>
  </bean>


  <!-- RESOURCE BUNDLES -->
  <bean id="helpResource" class="java.util.ResourceBundle" factory-method="getBundle">
  	<constructor-arg type="java.lang.String">
  		<value>bundles/help</value>
  	</constructor-arg>
  </bean>

  <bean id="internalPropertiesResource" class="java.util.ResourceBundle" factory-method="getBundle">
      <constructor-arg type="java.lang.String">
          <value>bundles/internal</value>
      </constructor-arg>
  </bean>

  <!-- BASIC CONFIGURATION/RESOURCE RELATED BEANS -->
  <bean id="configuration" class="org.dataconservancy.packaging.gui.Configuration">
    <property name="ontologyFile" value="${ontology.file}" />
    <property name="packageFilenameIllegalCharacters" value="${packageFilename.illegalCharacters}"/>
    <property name="packageMetadataParametersFile" value="${packageMetadataParametersFile}"/>
    <property name="configurationDirectory" value="${configuration.dir}"/>
  </bean>

  <bean id="help" class="org.dataconservancy.packaging.gui.Help">
  	<constructor-arg ref="helpResource"/>
  </bean>

  <bean id="internalProperties" class="org.dataconservancy.packaging.gui.InternalProperties">
      <constructor-arg ref="internalPropertiesResource"/>
  </bean>

  <bean id="headerView" class="org.dataconservancy.packaging.gui.view.impl.HeaderViewImpl">
  </bean>

  <!-- SERVICES AND BUILDERS -->
  <bean id="packageDescriptionBuilder" class="org.dataconservancy.packaging.tool.model.builder.json.JSONPackageDescriptionBuilder" />
  <bean id="propertiesConfigurationParametersBuilder" class="org.dataconservancy.packaging.tool.model.PropertiesConfigurationParametersBuilder" />

  <bean id="boremPackageGenerator" class="org.dataconservancy.packaging.tool.impl.BOREMPackageGenerator" />
  <bean id="testPackageGenerator" class="org.dataconservancy.packaging.tool.impl.TestPackageGenerator" />

  <bean id="packageGenerationService" class="org.dataconservancy.packaging.tool.impl.BasicPackageGenerationService">
    <property name="generatorMap">
      <map key-type="org.dataconservancy.packaging.tool.api.PackagingFormat">
        <entry key="BOREM" value-ref="boremPackageGenerator" />
        <entry key="TEST" value-ref="testPackageGenerator" />
      </map>
    </property>
  </bean>

  <bean id="uriGenerator" class="org.dataconservancy.packaging.tool.impl.SimpleURIGenerator"/>

  <bean id="domainProfileObjectStore" class="org.dataconservancy.packaging.tool.impl.DomainProfileObjectStoreImpl">
     <constructor-arg ref="uriGenerator"/>
   </bean>

   <bean id="profileService" class="org.dataconservancy.packaging.tool.impl.DomainProfileServiceImpl">
     <constructor-arg ref="domainProfileObjectStore"/>
     <constructor-arg ref="uriGenerator"/>
   </bean>

   <bean id="propertyFormatService" class="org.dataconservancy.packaging.tool.impl.PropertyFormatServiceImpl"/>

   <bean id="ipmService" class="org.dataconservancy.packaging.tool.impl.IPMServiceImpl">
     <constructor-arg ref="uriGenerator"/>
   </bean>

  <!-- FACTORY -->
  <bean id="factory" class="org.dataconservancy.packaging.gui.Factory">
    <property name="configuration" ref="configuration" />
    <property name="headerView" ref="headerView"/>
  </bean>

  <bean id="domainProfileStore" class="org.dataconservancy.packaging.tool.impl.DomainProfileStoreJenaImpl">
    <property name="primaryDomainProfiles">
      <list value-type="org.dataconservancy.packaging.tool.model.dprofile.DomainProfile">
        <ref bean="dcsBoProfile"/>
        <ref bean="pcdmProfile"/>
      </list>
    </property>
    <property name="secondaryDomainProfiles">
      <list value-type="org.dataconservancy.packaging.tool.model.dprofile.DomainProfile"></list>
    </property>
  </bean>

  <bean id="dcsBoProfile" class="org.dataconservancy.packaging.tool.profile.DcsBOProfile"/>

  <bean id="pcdmProfile" class="org.dataconservancy.packaging.tool.profile.pcdm.PCDMProfile"/>


</beans>
