<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014 Johns Hopkins University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
~ You may obtain a copy of the License at
~
~     http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <context:annotation-config />

  <bean id="propertyPlaceholderConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    <property name="ignoreResourceNotFound" value="true" />
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="locations">
      <list>
        <value>classpath:bundles/config_default.properties</value>
        <value>classpath:bundles/revision.properties</value>
      </list>
    </property>
  </bean>


  <!-- RESOURCE BUNDLES -->

  <bean id="helpResource" class="java.util.ResourceBundle" factory-method="getBundle">
  	<constructor-arg type="java.lang.String">
  		<value>bundles/help</value>
  	</constructor-arg>
  </bean>

  <bean id="internalPropertyResource" class="java.util.ResourceBundle" factory-method="getBundle">
      <constructor-arg type="java.lang.String">
        <value>bundles/internal</value>
      </constructor-arg>
  </bean>

  <!-- BASIC CONFIGURATION/RESOURCE RELATED BEANS -->
  <bean id="configuration" class="org.dataconservancy.packaging.gui.Configuration">
    <property name="ontologyFile" value="${ontology.file}"/>
    <property name="configurationDirectory" value="${configuration.dir}"/>
    <property name="availableProjectsFile"  value="${availableProjectsFile}"/>
    <property name="disciplineMapFile" value="${disciplineMapFile}" />
    <property name="packageGenerationParametersFile" value="${packageGenerationParametersFile}"/>
    <property name="packageMetadataParametersFile" value = "${packageMetadataParametersFile}" />
  </bean>

  <bean id="help" class="org.dataconservancy.packaging.gui.Help">
  	<constructor-arg ref="helpResource"/>
  </bean>

  <bean id="internalProperties" class="org.dataconservancy.packaging.gui.InternalProperties">
      <constructor-arg ref="internalPropertyResource"/>
  </bean>


  <!-- SERVICES AND BUILDERS -->
  <bean id="propertiesConfigurationParametersBuilder" class="org.dataconservancy.packaging.tool.model.PropertiesConfigurationParametersBuilder" />
  <bean id="packageMetadataService" class="org.dataconservancy.packaging.gui.services.PackageMetadataService">
    <constructor-arg ref="configuration"/>
  </bean>

  <!--
  <bean id="packageGenerationService" class="org.dataconservancy.packaging.tool.impl.BasicPackageGenerationService">
    <property name="generatorMap">
      <map key-type="org.dataconservancy.packaging.tool.api.PackagingFormat">
        <entry key="BOREM" value-ref="boremPackageGenerator" />
        <entry key="TEST" value-ref="testPackageGenerator" />
      </map>
    </property>
  </bean>
  -->

  <bean id="packageOntologyService" class="org.dataconservancy.packaging.tool.impl.DcsBoPackageOntologyServiceImpl">
    <property name="creatorPropertiesByString" value="${ontology.creatorProperties}"/>
  </bean>

  <bean id="phoneNumberValidator" class="org.dataconservancy.packaging.tool.impl.support.PhoneNumberValidator">
    <property name="localCountryCode" value="${localCountryCode}"/>
  </bean>

  <bean id="uriGenerator" class="org.dataconservancy.packaging.tool.impl.SimpleURIGenerator"/>

  <bean id="propertyFormatService" class="org.dataconservancy.packaging.tool.impl.PropertyFormatServiceImpl"/>

  <bean id="ipmService" class="org.dataconservancy.packaging.tool.impl.IPMServiceImpl">
    <constructor-arg ref="uriGenerator"/>
  </bean>

  <bean id="packageMetadataPresenter" class="org.dataconservancy.packaging.gui.presenter.impl.PackageMetadataPresenterImpl">
    <constructor-arg ref="packageMetadataView"/>
    <property name="controller" ref="controller"/>
    <property name="packageMetadataService" ref="packageMetadataService"/>
    <property name="internalProperties" ref="internalProperties"/>
    <property name="domainProfileStore" ref="domainProfileStore"/>
  </bean>

  <bean id="openExistingPackagePresenter" class="org.dataconservancy.packaging.gui.presenter.impl.OpenExistingPackagePresenterImpl">
    <constructor-arg ref="openExistingPackageView"/>
    <property name="controller" ref="controller" />
    <property name="internalProperties" ref="internalProperties"/>
  </bean>

  <!-- VIEWS -->
  <bean id="homepageView" class="org.dataconservancy.packaging.gui.view.impl.HomepageViewImpl">
    <constructor-arg ref="help"/>
    <property name="headerView" ref="headerView"/>
  </bean>

  <bean id="packageMetadataView" class="org.dataconservancy.packaging.gui.view.impl.PackageMetadataViewImpl">
    <constructor-arg ref="help"/>    
    <property name="headerView" ref="headerView"/>
  </bean>

  <bean id="createNewPackageView" class="org.dataconservancy.packaging.gui.view.impl.CreateNewPackageViewImpl">
    <constructor-arg ref="help"/>    
    <property name="headerView" ref="headerView"/>
  </bean>

  <bean id="packageGenerationView" class="org.dataconservancy.packaging.gui.view.impl.PackageGenerationViewImpl">
    <constructor-arg ref="help"/>    
    <property name="headerView" ref="headerView"/>
  </bean>

  <bean id="editPackageContentsView" class="org.dataconservancy.packaging.gui.view.impl.EditPackageContentsViewImpl">
    <constructor-arg ref="internalProperties"/>
    <constructor-arg value="${defaultRelationships.file}"/>
    <constructor-arg ref="help"/>
  <!--  <constructor-arg ref="disciplineService"/>  -->
    <property name="ipmService" ref="ipmService"/>
    <property name="headerView" ref="headerView"/>
  </bean>
  
  <bean id="headerView" class="org.dataconservancy.packaging.gui.view.impl.HeaderViewImpl">
  </bean>

  <bean id="openExistingPackageView" class="org.dataconservancy.packaging.gui.view.impl.OpenExistingPackageViewImpl">
    <constructor-arg ref="help"/>
    <property name="headerView" ref="headerView"/>
  </bean>

  <!-- PRESENTERS -->
  <bean id="homepagePresenter" class="org.dataconservancy.packaging.gui.presenter.impl.HomepagePresenterImpl">
    <constructor-arg ref="homepageView" />
    <property name="controller" ref="controller" />
    <property name="internalProperties" ref="internalProperties"/>
  </bean>

  <bean id="createNewPackagePresenter" class="org.dataconservancy.packaging.gui.presenter.impl.CreateNewPackagePresenterImpl">
    <constructor-arg ref="createNewPackageView" />
    <property name="controller" ref="controller" />
    <property name="ipmService" ref="ipmService"/>
    <property name="internalProperties" ref="internalProperties"/>
  </bean>

  <bean id="editPackageContentsPresenter" class="org.dataconservancy.packaging.gui.presenter.impl.EditPackageContentsPresenterImpl">
    <constructor-arg ref="editPackageContentsView" />
    <property name="controller" ref="controller" />
    <property name="ipmService" ref="ipmService"/>
    <property name="propertyFormatService" ref="propertyFormatService"/>
    <property name="internalProperties" ref="internalProperties"/>
  </bean>

  <bean id="packageGenerationPresenter" class="org.dataconservancy.packaging.gui.presenter.impl.PackageGenerationPresenterImpl">
    <constructor-arg ref="packageGenerationView"/>
    <property name="controller" ref="controller"/>
    <property name="packageGenerationParametersBuilder" ref="propertiesConfigurationParametersBuilder"/>
    <property name="packageGenerationService" ref="packageGenerationService"/>
    <property name="internalProperties" ref="internalProperties"/>
  </bean>

  <!-- FACTORY -->
  <bean id="factory" class="org.dataconservancy.packaging.gui.Factory">
    <property name="configuration" ref="configuration" />

    <property name="homepageView" ref="homepageView" />
    <property name="packageMetadataView" ref="packageMetadataView" />
    <property name="createNewPackageView" ref="createNewPackageView" />
    <property name="packageGenerationView" ref="packageGenerationView" />
    <property name="editPackageContentsView" ref="editPackageContentsView" />
    <property name="openExistingPackageView" ref="openExistingPackageView" />

    <property name="homepagePresenter" ref="homepagePresenter" />
    <property name="packageMetadataPresenter" ref="packageMetadataPresenter" />
    <property name="createNewPackagePresenter" ref="createNewPackagePresenter" />
    <property name="editPackageContentsPresenter" ref="editPackageContentsPresenter" />
    <property name="packageGenerationPresenter" ref="packageGenerationPresenter" />
    <property name="openExistingPackagePresenter" ref="openExistingPackagePresenter" />

    <property name="controller" ref="controller" />
    
    <property name="headerView" ref="headerView"/>

  </bean>

  <bean id="controller" class="org.dataconservancy.packaging.gui.Controller">
    <property name="factory" ref="factory" />
    <property name="toolBuildNumber" value="${build.number}"/>
    <property name="toolBuildTimestamp" value="${build.timeStamp}"/>
    <property name="toolBuildRevision" value="${build.revision}"/>
    <property name="domainProfileStore" ref="domainProfileStore"/>
    <property name="packageStateSerializer" ref="packageStateSerializer"/>
    <property name="uriGenerator" ref="uriGenerator"/>
  </bean>


  <bean id="domainProfileStore" class="org.dataconservancy.packaging.tool.impl.DomainProfileStoreJenaImpl">
    <property name="primaryDomainProfiles">
      <list value-type="org.dataconservancy.packaging.tool.model.dprofile.DomainProfile">
        <ref bean="dcsBoProfile"/>
        <ref bean="pcdmProfile"/>
      </list>
    </property>
    <property name="secondaryDomainProfiles">
      <list value-type="org.dataconservancy.packaging.tool.model.dprofile.DomainProfile"></list>
    </property>
  </bean>

  <bean id="dcsBoProfile" class="org.dataconservancy.packaging.tool.profile.DcsBOProfile"/>

  <bean id="pcdmProfile" class="org.dataconservancy.packaging.tool.profile.pcdm.PCDMProfile"/>

</beans>
